@tailwind base;
@tailwind components;
@tailwind utilities;
@import "toastify-js/src/toastify.css";
@media (prefers-color-scheme: dark) {
}

body {
  background-color: theme("colors.secondary");
}
.danger {
}
.auth-layout {
  background: rgb(30, 31, 37);
  background: linear-gradient(
    90deg,
    rgba(30, 31, 37, 1) 0%,
    rgba(80, 81, 249, 1) 100%
  );
}
