@tailwind base;
@tailwind components;
@tailwind utilities;
@import "toastify-js/src/toastify.css";
@media (prefers-color-scheme: dark) {
}

body {
  background-color: theme("colors.primary");
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn {
  @apply p-2 h-[40px] bg-secondary rounded-md flex justify-center items-center text-center text-primary w-1/3;
}
